@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
.home{
  box-sizing: border-box;
}
.nav{
  display: flex;
  justify-content: space-between;
  border-bottom: 0.5px solid grey;
  padding-block: 20px;
  margin-inline: 10vw;
}
.nav_home{
  text-align: center;
  font-weight: 500;
  font-size: 21px;
  cursor: pointer;
}
.nav_right{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-weight: 500;
  font-size: 21px;
}
.bookmark{
  cursor: pointer;
}
.head{

}
.home_body{
  height: 90vh;
  padding-inline: 10vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.bookmark_bottom{
  padding-block: 50px;
  padding-inline: 10vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.head{
  font-weight: 600;
}
.home_body_box{
  width: 600px;
  margin-block: 25px;
  border-radius: 50px;
  padding-block: 50px;
  padding-inline: 50px;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.box_qoute{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: 400;
  text-align: center;
  font-family: 'Courgette', cursive;
}
.box_footer{
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin-top: 25px;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
}
.nav a {
  color:black;
  text-decoration: none;
}

.nav a:hover,
.nav a:active,
.nav a.active {
  color: blue;
}
.dropdown-menu {
  width: 200px;
  height: 150px;
  overflow-y: scroll;
}
.dropdown-menu::-webkit-scrollbar {
  display: none;
}

.favicon,.copyicon{
  margin-left: 15px;
  margin-right: 15px;
  cursor: pointer;
}
.favicon:hover{
  color:blue;
}
.copyicon:hover{
  color: blue;
}
#dropdown-basic-button{
  margin-block:25px;
  width: 200px;
}

.next_button{
  width: 200px;
  border-radius: 10%;
}

@media only screen and (max-width: 750px) {
  .home_body_box {
    width: 400px;
   margin-block: 25px;
  border-radius: 50px;
  padding-block: 30px;
  padding-inline: 30px;
  }
  .box_qoute{
    font-size: 21px;
  }
}
@media only screen and (max-width: 500px) {
  .home_body_box {
  width: 300px;
  margin-block: 25px;
  border-radius: 20px;
  padding-block: 15px;
  padding-inline: 15px;
  }
  .box_qoute{
    font-size: 18px;
  }
  .box_footer{
    font-size: 14px;
  }
}